CompileFlags:
  Add:
    - -IC:/WinAVR-20100110/avr/include/
    - -D__AVR_ATmega32__
    - -DF_CPU=8000000L
  CompilationDatabase: F:/SW/elevatorControl
If:
  PathMatch: .*\.(c|cpp|h|hpp)$
---
Index:
  Background: Build